{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        {% block content %}
        <div class="newitems">
        <form method="post" enctype="multipart/form-data" class="add_product">
            
            {% csrf_token %}
            {{ form }}
            <input class = "addbtn" type="submit" value="Add">
        </form>
        </div>
        {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>