{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% block content %}
    {% for item in items %}
    <div class="brand-items">
        <div class="brand_img">
            {% for item in items %}
            <img src="/home/media/{{item.Img}}">
            
                
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>