{% extends "base.html" %}
{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
{% block content %}
<table>
    <th> Username</th>
    <th>email</th>
    <th></th>
    {% for user in users %}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td> <a href="{% url 'delete_user' user.username %}">Remove </a>
    </tr>
    {% endfor %}
</table>
{% endblock %}
        <script src="" async defer></script>
    </body>
</html>